footer{
    width: 100%;
    display: flex;
}
.Footer-container{
    width: 100%;
    flex-grow: 1;
    height:200px;
    background-color: #fafafa;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.Footer-content{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#272727;
}
.Footer-content span{
    background: linear-gradient(to right, rgb(248, 95, 95), rgb(92, 182, 235));
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}