.LoginPage-container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap-reverse;
}
.LoginPage-left{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.LoginPage-right{
    flex-grow: 3;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
.LoginPage-leftimg{
    flex-shrink: 1;
    width: 100%;
    max-height: 500px;
    /* max-width: 400px; */
    margin-top: 2em;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
}
.LoginPage-right-title{
    background: linear-gradient(to right, rgb(255, 146, 56), rgb(48, 241, 255));
    -webkit-background-clip: text;
    color: transparent;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    /* color: #363636; */
    padding-top: 30px;
}
.LoginPage-form-container{
    flex-grow: 1;
    height:33em;
    display: flex;
    justify-content: center;
    align-items: center;
}
